<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUri</key>
	<string>http://api-aws-eu-qa-1.auto1-test.com</string>
	<key>apiKey</key>
	<string>coding-puzzle-client-449cc9d</string>
	<key>pageSize</key>
	<integer>15</integer>
</dict>
</plist>
